html {
  scroll-behavior: smooth;
}

body {
	font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, Avenir, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
	padding:0;
	margin:auto;
	max-width:90%;
	background:#fefefe;
	hyphens: auto;
}

[contenteditable='true'], input, textarea {
	display : inline-block;
	border : 1px solid #cecece;
	border-radius: 5px;
	padding : 5px;
	min-width: 150px;
}

textarea {
	min-height: 150px;
}

a {
	color : #000000;
}

.yesPrint {
	display : none;
}

.etiquette {
	padding : 3px;
	border-radius : 5px;
	font-size : 0.75em;
	color : #FFFFFF;
}

.competence img {
	width:100%;
	max-width: 150px;
}

.photo img {
	width:100%;
	max-width: 450px;
}

.ecranCentre {
	max-width: 70%;
	text-align: center;
	margin-left : 15% !important;
	margin-top : 75px !important;
	margin-bottom : 75px !important;
	padding-top : 25px !important;
	padding-bottom : 25px !important;
}

h2 {
	margin : 0px;
	font-size : 1.20em;
}

h3 {
	margin : 0px;
	font-size : 1.10em;
}

em {
	font-style : normal;
	font-weight : lighter;
	hyphens: auto;
}

p {
	line-height : 1;
}

.bFormation {
	display : inline-block;
	padding : 7px;
	margin : 3px;
	border-radius : 5px;
	border-bottom: 3px solid #AEAEAE;
	background-color : #cecece;
	font-size : 0.85em;
}

.bFormation img {
	width : 20px;
	height : 20px;
}

.bFormation p {
	padding : 0px;
	margin : 0px;
}

.bRouge, .bGS {
	background-color: #D98880;
	border-bottom-color: rgba(0, 0, 0, 0.3);
}

.bViolet, .bMS {
	background-color: #BB8FCE;
	border-bottom-color: rgba(0, 0, 0, 0.3);
}

.bBleu, .bPS {
	background-color: #7FB3D5;
	border-bottom-color: rgba(0, 0, 0, 0.3);
}

.bVert, .bTPS {
	background-color: #7DCEA0;
	border-bottom-color: rgba(0, 0, 0, 0.3);
}

.bJaune {
	background-color: #F7DC6F;
	border-bottom-color: rgba(0, 0, 0, 0.3);
}

.bOrange {
	background-color: #E59866;
	border-bottom-color: rgba(0, 0, 0, 0.3);
}

.bGris {
	background-color: #D7DBDD;
	border-bottom-color: rgba(0, 0, 0, 0.3);
}

input, select, textarea {
	font-size : 1em;
}

.main:hover {
	cursor : pointer;
}

.alignRight {
	text-align: right;
}

/* Menu */

#Menu {
	margin-top : 10px;
	border-radius : 5px;
	padding : 5px;
	padding-right : 15px;
	background-color : #EAF2F8;
	border-bottom: 3px solid rgba(0, 0, 0, 0.3);
	text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px 0px 0 #fff, 0px 1px 0 #fff, -1px 0px 0 #fff, 0px -1px 0 #fff;
}

#Menu h1 {
	display : inline-block;
	font-size : 1.6em;
	margin-top : 10px;
	margin-left : 25px;
	margin-right : 25px;
	margin-bottom : 0px;
	vertical-align : middle;
}

#Menu img {
	display : inline-block;
	width : 25px;
	height : 25px;
	margin-left : 5px;
	margin-right : 5px;
	vertical-align : middle;
}

.inblo {
	display : inline-block;
}

#bMenu {
	margin : 13px;
}

.caption {
	font-size : 0.85em;
	margin-bottom : 0px;
	margin-left: 5px;
	margin-right: 5px;
}

.borderOui {
	border: 2px solid #229954;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
}

.borderNon {
	border: 2px solid #A6ACAF;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
}

/* Accueil */

.ecrans {
	margin : 10px;
	padding : 10px;
}

.addComp {
	min-width:60%;
	margin-top:auto;
}

.grilleDuo {
	display : grid;
	grid-template-columns: 1fr 1fr;
}

.grilleDuo12 {
	display : grid;
	grid-template-columns: 1fr 2fr;
}

.grilleDuo21 {
	display : grid;
	grid-template-columns: 3fr 2fr;
}

.grilleTrio {
	display : grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.grilleQuatre {
	display : grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grilleCinq {
	display : grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grilleComp {
	display : grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grillePhoto {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.boite {
	margin : 5px;
	padding : 10px;
	border : 1px solid #CECECE;
	border-radius : 5px;
	vertical-align : top;
}

.centrer p{
	text-align : center;
}

.centrer {
	text-align : center;
}

.droite {
	text-align : right;
}

#cache {
	position : absolute;
	top : 0px;
	left : 0px;
	z-index : 100;
	width : 100%;
	background-color : #31363F;
	opacity : 0.8;
}

.bouton {
	display: inline-block;
	border-radius: 5px;
	padding: 10px;
	margin: 3px;
}

.rouge {
	background-color : #c64559 !important;
	color : white;
	font-weight : bold;
}

.vert {
	background-color : #90bb8d !important;
	color : white;
	font-weight : bold;
}

.petitBouton {
	width : 22px;
	height : 22px;
	vertical-align : middle;
}

.comComp {
	font-size: 0.85em;
	background-color : #ECF0F1;
	padding : 3px;
	margin : 3px;
	border-radius : 5px;
}

.comGen {
	font-size: 0.85em;
	background-color : #ECF0F1;
	padding : 3px;
	margin : 3px;
	border-radius : 5px;
}

.comGen p {
	font-size: 1em;
	line-height: 1.25;
}

.gauche {
	text-align : left !important;
}

.boiteFlottante {
	position : fixed;
	overflow-y : auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-height : 80%;
	width : 70%;
	z-index : 110;
	padding : 25px;
	border-radius : 5px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.3);
	background-color : #FFFFFF;
}

a .bFormation {
	color : black;
}

.barreNav {
	position: fixed;
	bottom: 10px;
	left: 20%;
	width: 60%;
	background-color: #dedede;
	box-shadow: 0px 0px 10px #cecece;
	border-radius: 10px;
	font-size: 0.85em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 10px;
	padding-bottom: 10px;
}

.barreEleve {
	position: sticky;
	top: 10px;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0px 0px 10px #cecece;
	z-index: 99;
}

#ecranModifCompetenceImage {
	max-width: 90%;
	max-height: 100px;
	overflow-y: scroll;
}

/* Medias */

@media screen and (max-width:800px) {
	.grilleComp {
		display : grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media screen and (max-width:1200px) {
	.grilleComp {
		display : grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}

@media print {
	
	.noPrint {
		display: none !important;
	}
	
	.yesPrint {
		display: block;
	}
	
	.grilleComp {
		display : grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	
	.barreEleve {
		display: block;
		box-shadow: none;
		grid-template-columns: 1fr;
		text-align: center;
	}

	body {
		max-width: 95%;
		margin:auto;
		font-size : 10pt;
	}
	
	#Menu {
		page-break-after: avoid;
	}
	
	#Menu .grilleDuo {
		grid-template-columns: 1fr;
	}
	
	h1 {
		font-size: 17pt;
		margin-top: 10pt;
		margin-bottom: 10pt;
	}
	
	h2 {
		font-size : 13pt;
	}
	
	h3 {
		font-size : 12pt;
	}
	
	p, table, h2 em, li, em, h3 em {
		font-size : 10pt;
	}
	
	em {
		font-weight: normal;
	}
	
	li em {
		font-size : 10pt;
	}
	
	p {
		margin-bottom : 3pt;
		margin-top : 3pt;
	}
	
	.printPage {
		page-break-inside: avoid;
		break-inside: avoid;
	}
	
	.pageBreak {
		page-break-after: always;
		break-after: always;
	}
	
	.printIndic {
		width: 10pt;
		height: 10pt;
	}
	
	.introPrint {
		padding: 15pt;
		border: 1pt solid #CECECE;
		border-radius: 15pt;
		margin : 15pt;
		min-height: 200pt;
	}
	
	.boite {
		margin : 3pt;
		padding : 3pt;
		border : 1pt solid #CECECE;
	}
	
	.grilleDuo div, .grilleTrio div, .grilleDuo12 div, .grilleDuo21 div, .grilleQuatre div, .grilleCinq div, .grilleComp div, .grillePhoto div {
		margin-bottom : 3pt !important;
	}

	.bRouge {
		background:linear-gradient(180deg, rgb(192, 57, 43), rgb(255, 255, 255) 25pt);
	}
	
	.bViolet {
		background:linear-gradient(180deg, rgb(155, 89, 182), rgb(255, 255, 255) 25pt);
	}
	
	.bBleu {
		background:linear-gradient(180deg, rgb(52, 152, 219), rgb(255, 255, 255) 25pt);
	}
	
	.bVert {
		background:linear-gradient(180deg, rgb(39, 174, 96), rgb(255, 255, 255) 25pt);
	}
	
	.bJaune {
		background:linear-gradient(180deg, rgb(243, 156, 18), rgb(255, 255, 255) 25pt);
	}
	
	.bOrange {
		background:linear-gradient(180deg, rgb(211, 84, 0), rgb(255, 255, 255) 25pt);
	}

	@page {
		size: a4 portrait;
		margin: 1cm;
	}
}